<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/customer/layout/index :: dynamic(~{::main})}">
<style>
#header {
	background:
		url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)
		center center/cover no-repeat;
}
</style>
<body>
	<main class="row">
		<section id="gallery">
			<div class="container-fluid">
				<div class="row pt-5">
					<div class="card col-md-3 p-2 border border-0"
						 th:each="items: ${listProduct}">

						<div class="card-header">
							<div class="container">
								<img th:src="@{|/images/${items.picture1}}|" alt="Avatar"
									class="image" style="width: 100%">
								<div class="middle">
									<a class="text" th:href="@{|/product/detail/${items.id}|}">Chi tiết</a>
								</div>
							</div>
						</div>


						<div class="card-body">
							<div class="row">
								<div class="col-md-12 fw-bold" style="color: gray; height: 70px">
									[[${items.name}]]</div>
							</div>
							<h5 style="text-decoration: line-through;">[[${items.price+items.price*items.discount.moneyLimit/100}]]
								VND</h5>

							<h4 class="text-danger">[[${items.price}]] VND</h4>

							<div class="card-footer">
								<a th:attr="ng-click=@{|cart.add(${items.id})|}"
								class="btn btn-outline-danger btn-lg">Thêm vào giỏ hàng</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>