
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/customer/layout/index :: dynamic(~{::main})}">
<body>

	<main>

		<div class="row p-3">
			<div class="col-md-12">
				<div class="card"
					style="background-color: #EEECEC; font-family: monospace;">
					<div class="card-header">
						<h3>Lịch sử mua hàng</h3>
					</div>

					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Mã đơn hàng</th>
								<th>Người đặt hàng</th>
								<th>Hình thức thanh toán</th>
								<th>Địa chỉ</th>
								<th>Ngày tạo</th>
								<th>Số điện thoại</th>
								<th>Trạng thái</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="order,state:${orders}">
								<td>[[${state.index}]]</td>
								<td>[[${order.id}]]</td>
								<td>[[${order.accountOrder.fullname}]]</td>
								<td>[[${order.payment.name}]]</td>
								<td>[[${order.address}]]</td>
								<td>[[${order.createDate}]]</td>
								<td>[[${order.phone}]]</td>
								<td><th:block th:if="${order.status == 0}">
										<p class="text-danger">Chờ xác nhận</p>
										<a class="btn btn-default btn-outline-danger"
											data-bs-toggle="modal" data-bs-target="#exampleModal">Hủy
											đơn hàng</a>
										<div class="modal fade" id="exampleModal" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" id="exampleModalLabel"
															style="font-family: monospace;">Xác
															nhận</h4>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<h5 style="font-family: monospace;">
															Bạn có muốn hủy <br> đơn hàng này không ?
														</h5>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Không</button>
														<a th:href="@{|/order/cancel/${order.id}|}" type="button"
															class="btn btn-primary">Có</a>
													</div>
												</div>
											</div>
										</div>




									</th:block> <th:block th:if="${order.status == 1}">
										<p class="text-primary">Đang giao hàng</p>
									</th:block> <th:block th:if="${order.status == 2}">
										<p class="text-secondary">Đã hủy</p>
									</th:block> </th:block> <th:block
										th:unless="${order.status == 0 OR order.status == 1 OR order.status == 2}">
										<p class="text-success">Đã thanh toán</p>
									</th:block>
								</th>
								</td>

							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>


	</main>
</body>

</html>